<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @user.dob %>
</p>

<p> <strong>Blogs:</strong></p>
<% @user.blogs.each do |user|%>
  <p>
    <%= link_to user do %>
    <%= user.title %>
    <% end %>
  </p>
<% end %>
<p><strong>Comment:</strong></p>
<% @user.comments.each do |comment|%>
  <p>
    <%= link_to edit_blog_comment_path(comment.blog_id,comment.id) do %>
    <%= comment.body %>
    <% end %>
  </p>
<% end %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
